openapi: 3.1.0
info:
  title: Google Cloud Data Fusion Instances Locations API
  description: The Cloud Data Fusion API provides programmatic access to create, manage, and monitor Data Fusion instances on Google Cloud Platform. It supports instance lifecycle management, namespace operations, and pipeline configuration.
  version: v1
  contact:
    name: Google Cloud
    url: https://cloud.google.com/data-fusion
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://datafusion.googleapis.com/v1
  description: Google Cloud Data Fusion API v1
security:
- oauth2: []
tags:
- name: Locations
  description: Available locations for Data Fusion
paths:
  /projects/{projectId}/locations:
    get:
      operationId: listLocations
      summary: Google Cloud Data Fusion List available locations
      description: Lists available locations for the given project.
      tags:
      - Locations
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: The project ID.
      - name: pageSize
        in: query
        schema:
          type: integer
        description: Maximum number of results to return.
      - name: pageToken
        in: query
        schema:
          type: string
        description: Page token for pagination.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
components:
  schemas:
    ListLocationsResponse:
      type: object
      properties:
        locations:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              locationId:
                type: string
        nextPageToken:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
externalDocs:
  description: Google Cloud Data Fusion Documentation
  url: https://cloud.google.com/data-fusion/docs/reference/rest
